body {
    background-image: url('nature.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bcd3d4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    background: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#cityinput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex: 1;
}

button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    background: rgba(240, 240, 240, 0.5); 
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.weather-info h2 {
    margin: 10px 0;
}

.weather-info p {
    margin: 5px 0;
}
